@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

:root {
  --neutral-1: hsl(226, 43%, 10%);
  --neutral-2: hsl(235, 46%, 20%);
  --neutral-3: hsl(235, 45%, 61%);
  --neutral-4: hsl(226, 43%, 10%);

  --avatar: hsl(246, 80%, 60%);
  --orange: hsl(15, 100%, 70%);
  --cyan: hsl(195, 74%, 62%);
  --red: hsl(348, 100%, 68%);
  --green: hsl(145, 58%, 55%);
  --purple: hsl(264, 64%, 52%);
  --yellow: hsl(43, 84%, 65%);

  --bg: var(--neutral-2);
}

body {
  background-color: var(--neutral-1);
  color: #fff;
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 1rem;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(1rem, 3vw, 2rem);
}

.card > div {
  border-radius: 1rem;
  background-color: var(--bg);
}

.card--avatar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card--avatar-top {
  --bg: var(--avatar);
}

.card--avatar-bottom {
  --bg: var(--neutral-1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0.5rem;
}

.btn {
  font: inherit;
  background: none;
  border: none;
  color: var(--neutral-3);
  flex: 1 1 100%;
  border-radius: 0.5rem;
  padding: 0.2rem 0.8rem;
}

.btn.active {
  color: #fff;
}
