@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

:root {
  --neutral-1: hsl(226, 43%, 10%);
  --neutral-2: hsl(235, 46%, 20%);
  --neutral-3: hsl(235, 45%, 61%);
  --neutral-4: hsl(236, 100%, 87%);

  --avatar: hsl(246, 80%, 60%);
  --orange: hsl(15, 100%, 70%);
  --cyan: hsl(195, 74%, 62%);
  --red: hsl(348, 100%, 68%);
  --green: hsl(145, 58%, 55%);
  --purple: hsl(264, 64%, 52%);
  --yellow: hsl(43, 84%, 65%);

  --bg: var(--neutral-2);

  --transition: 200ms ease-in-out;
}

body {
  background-color: var(--neutral-1);
  color: white;
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 1rem;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(1rem, 3vw, 2rem);
}
.card {
  background-color: var(--bg);
  border-radius: 1rem;
}
.card > div {
  background-color: var(--bg);
}

.card--avatar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card--avatar-top {
  --bg: var(--avatar);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.avatar {
  max-width: clamp(5rem, 7vw, 7.5rem);
  border: 0.2rem solid white;
  border-radius: 100vw;
  aspect-ratio: 1/1;
  object-fit: cover;
  flex: 1 1 20%;
}

h1 {
  font-size: 1.2rem;
  flex: 1 1 50%;
  font-weight: 300;
}

h1 span {
  font-size: 0.8rem;
  color: var(--neutral-4);
}
.card--avatar-bottom {
  --bg: var(--neutral-2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.btn {
  font: inherit;
  background: inherit;
  border: none;
  color: var(--neutral-3);
  flex: 1 1 100%;
  border-radius: 0.5rem;
  padding: 0.2rem 0.8rem;
  transition: color var(--transition);
}
.btn:focus {
  outline: none;
}

.btn:where(.active, :hover, :focus-within) {
  color: white;
  cursor: pointer;
}
